<ion-header>
  <ion-toolbar>
    <ion-title>Registro de estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h2>Registro de estudiantes</h2>
  </div>
  <ion-item>
    <ion-label position="floating">Rut</ion-label>
    <ion-input placeholder="Ej: 25300400K" #rut></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Ej: Juan Aros" #nombre></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fono (fijo o celular)</ion-label>
    <ion-input placeholder="Ej: +56960504020" #fono></ion-input>
  </ion-item>

  <div *ngIf="listado.length > 0">
    <ion-list>
      <div *ngFor="let aux of listado">
        <ion-item>
          <ion-label>{{aux}}</ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="agregar(rut, nombre, fono)" fill="clear">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <ion-button (click)="buscar(rut)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
